#calendar {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
    font-family: 'poppins';
    font-size: 20px !important;
    /* margin-top: 30px; */
}

.card {
    height: auto !important;
}

.view-bookingsa {
    color: #1173FF;
    /* float: right; */
    /* margin-top: 20px; */
    right: 20px;
    top: 15px;
    width: 150px;
    text-align: center;
    font-size: 12px !important;
    color: white;
    position: absolute;
}

.header h1 {
    font-family: 'Poppins';
    font-size: 24px;
    line-height: 50px;
    font-weight: 500;
    color: #00132D;
    /* margin-left: 100px; */
    /* margin-right: 800px; */
    letter-spacing: 1px;
    /* margin-top: 10px; */
    margin-left: 100px;
}

.left,
.right {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    top: 50%;
    margin-top: -7.5px;
    cursor: pointer;
}

.left {
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent rgb(121, 119, 119) transparent transparent;
    left: 20px;
    position: absolute;
    top: 25px;
}

.right {
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent rgb(121, 119, 119);
    left: 320px;
    position: absolute;
    top: 25px;
}

.month {
    /*overflow: hidden;*/
    opacity: 0;
}

.month.new {
    /* -webkit-animation: fadeIn 1s ease-out; */
    opacity: 1;
}

.month.in.next {
    -webkit-animation: moveFromTopFadeMonth .4s ease-out;
    -moz-animation: moveFromTopFadeMonth .4s ease-out;
    animation: moveFromTopFadeMonth .4s ease-out;
    opacity: 1;
}

.month.out.next {
    -webkit-animation: moveToTopFadeMonth .4s ease-in;
    -moz-animation: moveToTopFadeMonth .4s ease-in;
    animation: moveToTopFadeMonth .4s ease-in;
    opacity: 1;
}

.month.in.prev {
    -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
    -moz-animation: moveFromBottomFadeMonth .4s ease-out;
    animation: moveFromBottomFadeMonth .4s ease-out;
    opacity: 1;
}

.month.out.prev {
    -webkit-animation: moveToBottomFadeMonth .4s ease-in;
    -moz-animation: moveToBottomFadeMonth .4s ease-in;
    animation: moveToBottomFadeMonth .4s ease-in;
    opacity: 1;
}

.day {
    display: inline-block;
    width: 151px;
    padding: 20px;
    text-align: left;
    vertical-align: top;
    cursor: pointer;
    background: white;
    position: relative;
    z-index: 100;
    border: 0.9px solid #BED5EF;
}


/* .day.other {
    color: rgba(255, 255, 255, .3);
} */

.day.today {
    color: black;
    background-color: #DBEAFF;
}

.day-name {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: black;
    position: absolute;
    top: 40;
    right: 15px;
}

.day-number {
    font-size: 24px;
    letter-spacing: 1.5px;
    color: #00132D;
    font-family: 'Poppins';
}

.day .day-events {
    list-style: none;
    margin-top: 3px;
    /* display: inline !important; */
    text-align: center;
    height: 12px;
    line-height: 6px;
    overflow: hidden;
}

.blue {
    background: rgba(156, 202, 235, 1);
}

.orange {
    background: rgba(247, 167, 0, 1);
}

.green {
    background: rgba(153, 198, 109, 1);
}

.yellow {
    background: rgba(249, 233, 0, 1);
}

.details {
    display: none;
}

.details.in {
    -webkit-animation: moveFromTopFade .5s ease both;
    -moz-animation: moveFromTopFade .5s ease both;
    animation: moveFromTopFade .5s ease both;
}

.details.out {
    -webkit-animation: moveToTopFade .5s ease both;
    -moz-animation: moveToTopFade .5s ease both;
    animation: moveToTopFade .5s ease both;
}

.arrow {
    position: absolute;
    top: -5px;
    left: 50%;
    /* margin-left: -2px; */
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
    transition: all 0.7s ease;
}

.events {
    height: 75px;
    padding: 7px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.events.in {
    -webkit-animation: fadeIn .3s ease both;
    -moz-animation: fadeIn .3s ease both;
    animation: fadeIn .3s ease both;
}

.events.in {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    animation-delay: .3s;
}

.details.out .events {
    -webkit-animation: fadeOutShrink .4s ease both;
    -moz-animation: fadeOutShink .4s ease both;
    animation: fadeOutShink .4s ease both;
}

.events.out {
    -webkit-animation: fadeOut .3s ease both;
    -moz-animation: fadeOut .3s ease both;
    animation: fadeOut .3s ease both;
}

.event {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .5px;
    padding: 2px 16px;
    vertical-align: top;
}

.event.empty {
    color: #eee;
}

.event-category {
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 6px 0 0;
    vertical-align: top;
}

.event span {
    display: inline-block;
    padding: 0 0 0 7px;
}

.legend {
    display: none;
}

.entry {
    position: relative;
    padding: 0 0 0 25px;
    font-size: 13px;
    display: inline-block;
    line-height: 30px;
    background: transparent;
}

.entry:after {
    position: absolute;
    content: '';
    height: 5px;
    width: 5px;
    top: 12px;
    left: 14px;
}

.entry.blue:after {
    background: rgba(156, 202, 235, 1);
}

.entry.orange:after {
    background: rgba(247, 167, 0, 1);
}

.entry.green:after {
    background: rgba(153, 198, 109, 1);
}

.entry.yellow:after {
    background: rgba(249, 233, 0, 1);
}


/* Animations are cool!  */

@-webkit-keyframes moveFromTopFade {
    from {
        opacity: .3;
        height: 0px;
        margin-top: 0px;
        -webkit-transform: translateY(-100%);
    }
}

@-moz-keyframes moveFromTopFade {
    from {
        height: 0px;
        margin-top: 0px;
        -moz-transform: translateY(-100%);
    }
}

@keyframes moveFromTopFade {
    from {
        height: 0px;
        margin-top: 0px;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveToTopFade {
    to {
        opacity: .3;
        height: 0px;
        margin-top: 0px;
        opacity: 0.3;
        -webkit-transform: translateY(-100%);
    }
}

@-moz-keyframes moveToTopFade {
    to {
        height: 0px;
        -moz-transform: translateY(-100%);
    }
}

@keyframes moveToTopFade {
    to {
        height: 0px;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveToTopFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(-30%) scale(.95);
    }
}

@-moz-keyframes moveToTopFadeMonth {
    to {
        opacity: 0;
        -moz-transform: translateY(-30%);
    }
}

@keyframes moveToTopFadeMonth {
    to {
        opacity: 0;
        -moz-transform: translateY(-30%);
    }
}

@-webkit-keyframes moveFromTopFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(30%) scale(.95);
    }
}

@-moz-keyframes moveFromTopFadeMonth {
    from {
        opacity: 0;
        -moz-transform: translateY(30%);
    }
}

@keyframes moveFromTopFadeMonth {
    from {
        opacity: 0;
        -moz-transform: translateY(30%);
    }
}

@-webkit-keyframes moveToBottomFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(30%) scale(.95);
    }
}

@-moz-keyframes moveToBottomFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(30%);
    }
}

@keyframes moveToBottomFadeMonth {
    to {
        opacity: 0;
        -webkit-transform: translateY(30%);
    }
}

@-webkit-keyframes moveFromBottomFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30%) scale(.95);
    }
}

@-moz-keyframes moveFromBottomFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30%);
    }
}

@keyframes moveFromBottomFadeMonth {
    from {
        opacity: 0;
        -webkit-transform: translateY(-30%);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOutShink {
    to {
        opacity: 0;
        padding: 0px;
        height: 0px;
    }
}

@-moz-keyframes fadeOutShink {
    to {
        opacity: 0;
        padding: 0px;
        height: 0px;
    }
}

@keyframes fadeOutShink {
    to {
        opacity: 0;
        padding: 0px;
        height: 0px;
    }
}


/* @media(max-width:1290px) {
#calendar {
width: 100%;
}
} */