.tab-mobile-s button {
    display: inline !important;
    font-size: 14px !important;
}

.tab-mobile-s {
    text-align: center !important;
}
.tabs button{
    padding: 9px;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #A7B5BF;
}
.tabs button.active {
    background-color: #C3DBFF;
    color: #001524;
}

/*  */
.card-header{
    background-color: #F5F6F6;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}

.card-title{
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 400;
}
.card-title-1{
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 400 !important;
    font-style: italic;
}
.tabcontent{
    text-decoration: none !important;
font-weight: 400 !important;
}
.responsibilities-text{
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins";
    color: #001524;
}

.careers li{
    display: block  ;
    margin: 0%;
    padding: 0px;
    font-family: "Poppins";
    font-weight: 400;
    
}
.apply-button{
    background-color: #1173FF;
    padding: 7px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}