
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,700&display=swap');
.heading-first {
    color: #00132D;
    font-size: 28px;
    font-weight: 600;
    font-family: "Poppins";
}

.heading-second {
    color: #00132D;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins";
}

.heading-third {
    color: #00132D;
    font-size: 22px;
    font-weight: 600;
    font-family: "Poppins";
}

.heading-forth {
    color: #00132D;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
}

.heading-fifth {
    color: #00132D;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
}

.heading-sixth {
    color: #00132D;
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins";
    opacity: 0.5;
}

.cencel-btn {
    background-color: #fff !important;
    border: 1px solid #1173FF !important;
    padding: 10px 10px 10px !important;
    font-size: 12px;
    color: #1173FF;
    font-family: 'Poppins';
    border-radius: 4px;
}

.cencel-btn:focus {
    outline: none;
}

.cencel-btn:hover {
    background-color: #F2F8FF!important;
    color: #1173FF !important;
    cursor: pointer;
    transition: 0.6s;
    border: 1px solid red;
}

.view-bookings {
    float: right;
    color: #1173FF !important;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
}

.inputtype {
    border: 1px solid #D6DBE2;
    border-radius: 4px;
    padding: 5px;
}

.paragraph-text {
    color: #00132D;
    font-size: 13px;
    font-weight: 400;
    font-family: "Poppins";
}

.schedule-btn:hover {
    background-color: white;
    color: #1173FF;
    border: 1px solid rgb(204, 200, 200);
    cursor: pointer;
    transition: 0.6s;
}

.schedule-btn {
    background-color: #1173FF;
    border: 1px solid #1173FF;
    color: white;
    padding: 10px 10px 10px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Poppins';
    border-radius: 4px;
}

.schedule-btn:focus {
    outline: none !important;
}

.paragraph-line {
    color: #00132D;
    font-size: 14px;
    font-family: "Poppins";
}

/* sroll bar */

/* width */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(185, 182, 182);
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #00132D;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #1173FF;
}

.hp-1 {
    font-family: 'poppins';
    font-size: 14px;
    color: #00132D;
    font-weight: 500;
}

/* side navicons css */

ol li {
    margin-left: 45px;
}

ol li:hover {
    border-right: none !important;
}

.id-sideicons {
    position: sticky;
    top: 100px;
}

/* end */

/* search */

input[type=text] {
    width: 130px;
    border: none !important;
    border: none !important;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    background-image: url('../images/ico/Search.png');
    background-size: 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 20px 9px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 300px;
    background-color: rgba(178, 184, 181, 0.205) !important;
    outline: none;
}

.inputs[type=text] {
    width: 100px;
    position: relative;
    border: none !important;
    border: none !important;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    background-image: url('/images/ico/Search.png');
    background-size: 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 20px 9px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.inputs[type=text]:focus {
    width: 100px;
    background-color: rgba(178, 184, 181, 0.205) !important;
    outline: none;
}

.bg-custom-1 {
    background-color: #85144b;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

/* notification css*/

.notification {
    position: relative;
    text-align: right;
}

.notification img {
    padding: 10px 0;
}

.notification-menu {
    position: absolute;
    top: 50px;
    left: -150px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    list-style: none;
    width: 400px;
    display: none;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.notification-menu li {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

.notification-menu .avatar {
    padding: 2px 0;
}

.notification-menu h3 {
    font-size: 15px;
    margin: 0 0 5px 0;
    display: inline;
}

.notification-menu p {
    margin-bottom: 0;
    font-size: 14px;
}

/* mobile view navbar css */

.nav-row {
    display: flex;
    border-bottom: 1px solid rgb(230, 233, 236) !important;
    padding-bottom: 10px !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #00132D;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* home main nav bar + side bar css */

.navbar {
    padding: 15px 10px;
    background: #ffffff !important;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    position: sticky !important;
    top: 0% !important;
    z-index: 999 !important;
}

.list-unstyled {
    position: sticky !important;
    top: 12% !important;
    left: 0% !important;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* side navbar css */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    transition: all 0.3s
}

#sidebar.active {
    margin-left: -250px
}

#sidebar .sidebar-header {
    padding: 20px;
    /* background: #005086 */
    color: black;
    position: sticky !important;
    top: 0% !important;
}

#sidebar ul.components {
    padding: 20px 0px;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    padding: 10px;
    font-size: 15px;
    display: block;
    color: #fff
}

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: 0.6s all ease-in-out;
    cursor: pointer;
}

.rotate:focus {
    outline: none;
}

.rotate.down {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(-180deg);
}

#sidebar ul li a {
    font-family: 'Poppins';
    font-size: 16px;
    display: block;
    color: #00132D;
    padding: 4.5px;
    font-weight: 600;
    transition: 0.2s;
    text-align: left;
}

#sidebar ul li {
    width: 200px !important;
    margin-left: 40px;
}

#sidebar ul li a:hover {
    color: #000;
    text-decoration: none;
    padding-left: 20px !important;
}

#sidebar ul li:hover {
    color: #000000 !important;
    background: #F2F8FF!important;
}
/* table */
.tb-new-header {
    border-top: 1px solid #D6DBE2;
    border-bottom: 1px solid #D6DBE2;
}

/* end */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@-webkit-keyframes INDENT {
    0% {
        text-indent: 0;
    }
    50% {
        text-indent: 20px;
    }
    100% {
        text-indent: 0;
    }
}

@-moz-keyframes INDENT {
    0% {
        text-indent: 0;
    }
    50% {
        text-indent: 10px;
    }
    100% {
        text-indent: 0;
    }
}

@-o-keyframes INDENT {
    0% {
        text-indent: 0;
    }
    50% {
        text-indent: 10px;
    }
    100% {
        text-indent: 0;
    }
}

@keyframes INDENT {
    0% {
        text-indent: 0;
    }
    50% {
        text-indent: 10px;
    }
    100% {
        text-indent: 0;
    }
}

a[data-toggle="collapse"] {
    position: relative
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%)
}

.content-wrapper {
    padding: 15px
}

/* side support section css */

.sidenav-toggle {
    position: fixed;
    left: 10px;
    top: 2px;
    background-color: transparent;
    border: none;
}

.support {
    width: 75%;
    position: relative;
    top: -55px;
    background-color: #F2F8FF;
    height: 110px;
    border-radius: 4px;
}

.support-text {
    color: #00132D;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 700;
}

.support-text1 {
    color: #00132D;
    line-height: 1;
    font-size: 10px;
    font-family: "poppins";
    font-weight: 500;
}

.support-text2 {
    cursor: pointer;
    color: #00132D;
    line-height: 1;
    float: right;
    color: #1173FF;
    font-size: 10px;
    font-family: "Poppins";
}

/* end */

/* dropdown image */

.classdrop {
    text-align: left !important;
    background-color: white !important;
    text-decoration: none !important;
}

.classdrop1 {
    padding-bottom: 5px;
    padding-top: 5px;
    position: absolute;
    left: -170px;
    top: 50px;
}

.classdrop li:hover {
    background-color: #F2F8FF !important;
}

.classdrop li {
    padding: 5px !important;
}

.classdrop li a {
    text-align: left !important;
    margin-left: 20px !important;
    text-decoration: none !important;
    color: #00132D;
    font-family: "Poppins";
}

/* notification */

.notification img {
    width: 20px;
    cursor: pointer;
}

.notification-text {
    position: relative;
    top: -10px;
    background-color: #DF615C;
    ;
    color: white;
    padding: 3px 7px;
    cursor: pointer !important;
    border-radius: 70px;
    left: -13px;
    font-size: 12px;
}

.notification-text1 {
    color: #00132D;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
}

.notification-text2 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.notification-text3 {
    color: #00132D;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.notification-text4 {
    color: #00132D;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Poppins';
}

.notification-text5 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 2px;
    font-family: 'poppins';
}

.notification-flex {
    display: flex;
    line-height: 1.3;
}

.notification-time {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #1173FF;
}

.dot-image {
    width: 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

/* profile */

.profile-img {
    width: 40px;
    height: 46px;
}

.profile-name {
    border-left: 1px solid rgb(224, 220, 220);
    font-family: 'Poppins', sans-serif;
    color: #00132D;
    font-weight: 600;
}

.profile-name:hover {
    color: #00132D;
}

.profile-name1 {
    display: flex !important;
    float: right !important;
}

/* border right */

.active, .btn:hover {
    background-color: #F2F8FF;
    border-right: 5px solid #1173FF;
    padding-left: 20px;
}

.container-calendar {
    background: #ffffff;
    padding: 25px;
    max-width: 475px;
    margin: 0 auto;
    overflow: auto;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td, .table-calendar th {
    padding: 8px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}

.date-picker.selected {
    background-color: #1173FF;
    color: white;
    padding: 10px;
    border-radius: 50px;
}

#monthAndYear {
    text-align: center;
    position: absolute;
    left: 120px;
    top: 40px;
    font-size: 24px;
    font-family: 'poppins';
}

tr th {
    font-family: "Poppins";
    font-weight: 600;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1.6em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}

.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}

/* hover side nav */

.dasborad-sid:hover+.dasborad-show {
    display: block !important;
}

.dasborad-show {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Poppins";
    color: white;
    background-color: #1173FF;
}

.book-sid:hover+.book-show {
    display: block !important;
}

.book-show {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Poppins";
    color: white;
    background-color: #1173FF;
}

.class-sid:hover+.class-show {
    display: block !important;
}

.class-show {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Poppins";
    color: white;
    background-color: #1173FF;
}

.subject-sid:hover+.subject-show {
    display: block !important;
}

.subject-show {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Poppins";
    color: white;
    background-color: #1173FF;
}

.calande-sid:hover+.calande-show {
    display: block !important;
}

.calande-show {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Poppins";
    color: white;
    background-color: #1173FF;
}

.history-sid:hover+.history-show {
    display: block !important;
}

.history-show {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Poppins";
    color: white;
    background-color: #1173FF;
}

.payment-sid:hover+.payment-show {
    display: block !important;
}

.payment-show {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Poppins";
    color: white;
    background-color: #1173FF;
}

.setting-sid:hover+.setting-show {
    display: block !important;
}

.setting-show {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Poppins";
    color: white;
    background-color: #1173FF;
}

/* side nav media query */

@media(max-width:768px) {
    #sidebar {
        margin-left: -250px;
        position: absolute;
        top: 0%;
        background-color: white;
    }
    #sidebar.active {
        margin-left: 0px
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media(max-width:790px) {
    .navbar {
        width: 100% !important;
        flex-wrap: nowrap !important;
        display: none !important;
    }
}

@media(max-width:790px) {
    #sidebar {
        display: none !important;
    }
}

@media(max-width:790px) {
    .site-header {
        display: block !important;
    }
}

@media(max-width:790px) {
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        color: #00132D;
        display: block;
        transition: 0.3s;
    }
}

@media(max-width:1290px) {
    #sidebar {
        display: none !important;
    }
}

@media(max-width:1290px) {
    .site-header {
        display: block !important;
    }
}

@media(max-width:1290px) {
    .navbar {
        display: none !important;
        position: fixed;
        top: 0%;
    }
}