body {
    background-color: #FBFBFB !important;
}

#body {
    background-image: url('../images/backgrounds/back.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    /* width: 100px; */
}

.learn {
    font-size: 34px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 1;
    margin-top: 80px;
    color: #00132D;
}

.time {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 0.5;
    justify-content: center;
    color: #00132D;
    /* text-shadow to simulate text outline to allow justification against high contrast areas of hero image */
    letter-spacing: 1px;
}

.Register {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 1.6;
}

.login-logo {
    margin-top: 50px;
}

.card {
    margin-top: 50px;
    border: #00000005;
    border-radius: 8px;
}

.hello-text {
    color: #00132D;
    font-size: 16px;
    font-family: 'Poppins';
}

.forget-text {
    text-align: right;
    margin-top: 20px;
    width: 100%;
    font-size: 12px;
    font-family: "Poppins";
    color: #1173FF;
    padding-right: 15px;
}

.Welcome-text {
    color: #00132D;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
}

.sign-text {
    color: #00132D;
    font-size: 34px;
    font-weight: 600;
    font-family: 'Poppins';
    line-height: 1.6;
}

.user-text {
    color: #00132D;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    line-height: 0;
}

.Create-text {
    color: #1173FF;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    line-height: 0;
}

.input-login input {
    border: 1px solid #D6DBE2;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    font-family: 'Poppins';
    font-size: 14px;
}

.input-login input:focus {
    outline-color: #1173FF !important;
}

.input-login input::placeholder {
    font-size: 14px;
    padding-left: 5px;
    font-family: 'Poppins';
    color: #737D8B;
}

.Google {
    margin-top: 100px;
    width: 100%;
    background-color: #ffffff;
    color: black;
    padding: 9px;
    font-size: 14px;
    border: 1px solid #E3E6EA;
    text-align: center;
    font-family: 'Poppins';
    cursor: pointer;
    border-radius: 4px;
}


/* .Google:hover{
    background-color: black;
    color: white;
} */

.facebook {
    margin-top: 10px;
    width: 100%;
    background-color: #1173FF;
    color: white;
    padding: 9px;
    font-size: 14px;
    /* border: 1px solid #E3E6EA; */
    text-align: center;
    font-family: 'Poppins';
    cursor: pointer;
    border-radius: 4px;
}

.Apple {
    margin-top: 10px;
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 9px;
    font-size: 14px;
    /* border: 1px solid #E3E6EA; */
    text-align: center;
    font-family: 'Poppins';
    cursor: pointer;
    border-radius: 4px;
}

.Policy-text {
    margin-top: 30px;
}

.by-text {
    color: #00132D;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    margin-right: 5px;
    line-height: 0.6;
}

.Privacy-text {
    color: #1173FF;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    margin-right: 5px;
    line-height: 0.6;
}

.policy-text1 {
    color: #00132D;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    margin-right: 5px;
    line-height: 0.6;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
}

.input-container {
    position: relative;
}

.input-container input:focus {
    border-color: #1173FF !important;
}

.label {
    position: relative;
    top: -32px;
    left: 10px;
    font-size: 14px;
    font-family: 'Poppins';
}

input:focus+.label {
    top: -55px !important;
    position: relative !important;
    background-color: white;
}


/* .fa-eye{
    position: relative;
    top: -20px;
    right: 10px;
}
   */

input {
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
}

label {
    top: 50px;
    left: 10px;
    right: 0;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 16px;
    cursor: text;
    color: red;
    transition: .2s ease-in-out;
    box-sizing: border-box;
}

input {
    width: 100%;
}

.cl .checkbox:focus {
    width: 10px;
}

.user-text1 {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Poppins';
    line-height: 0.5;
}

.digit-group input {
    border-bottom: 1px solid #00000005;
    height: 100px;
    display: flex;
    font-size: 74px;
    padding-left: 60px;
    color: #737D8B;
    ;
}

.reset-password input::placeholder {
    font-size: 44px;
    text-align: center;
    color: #737D8B;
    margin-right: -30px;
}

.content {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
}


/* .content .lock {
    position: absolute;
    height: 50px;
    width: 50px;
    background: #48dbfb;
    color: #fff;
    line-height: 48px;
    font-size: 20px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #48dbfb;
  } */

.content input {
    height: 45px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #D6DBE2;
    font-size: 14px;
    outline: none;
    color: #737D8B;
    font-family: "Poppins";
    /* padding: 1px !important; */
    padding-left: 10px;
}

.input:focus {
    border: 1px solid #084FC7;
}

.input::placeholder {
    color: #a6a6a6;
    font-size: 14px;
    font-family: 'Poppins';
}

.show-hide {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.show-hide i {
    font-size: 19px;
    color: #737D8B;
    ;
    cursor: pointer;
    display: none;
}

.show-hide i.hide::before {
    content: "\f070";
}

input:valid~.show-hide i {
    display: block;
}

.checkboxs {
    float: left;
    margin-top: 50px;
    width: 110px;
    /* left: 50px; */
    display: flex;
}

#message {
    position: absolute !important;
    left: 10px;
    top: 50px;
}


/* email validation */

.add {
    position: absolute;
    color: red;
    font-style: italic;
    font-family: 'poppins';
    top: 50px;
}

#error-nwl {
    position: absolute;
    top: 50px;
    font-family: "Poppins";
    font-size: 16px;
}

.profile-img {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: 2px solid #1173FF;
    border-radius: 50%;
}