.profile-header {
    background-color: white;
    border-radius: 8px;
}

.fa-star {
    /* color: orange !important; */
    font-size: 22px;
}

.checked {
    color: orange !important;
}

.star-icos {
    margin-top: 20px;
}

.perfile-text {
    font-size: 20px;
    font-weight: 400;
}

.schedule-btn {
    font-size: 14px;
}

.profile-tutor {
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 500;
    margin-bottom: 0;
}

.paragraph-text {
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 600;
}

.heading-sixths {
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 500;
    opacity: 0.5;
}

.about-text {
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 400;
    /* opacity: 0.5; */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(88, 88, 88, 0.2);
    transition: 0.3s;
    width: 100%;
    height: 320px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(90, 88, 88, 0.2);
}

.che-text {
    background-color: #f3e1e0;
    padding: 7px;
    font-size: 12px;
    border-radius: 4px;
    display: block;
    font-family: "Poppins";
}

.dolar-text {
    text-align: right !important;
    color: #1173FF;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 600;
}

.schedule-btn1 {
    color: #1173FF;
    background-color: #b2cff8;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    font-family: "Poppins";
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #b2cff8;
    transition: 0.5s;
}

.schedule-btn1:focus {
    outline: none;
}

.schedule-btn1:hover {
    background-color: white;
    border: 1px solid #b2cff8;
    color: #1173FF;
}

.add-new {
    margin: auto 25px;
    margin-top: 50px;
    cursor: pointer;
}

.heading-forth1 {
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 600;
    line-height: 1.3;
}

.notification-text4 {
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 400;
    line-height: 0;
}

.notification-text6 {
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 400;
}

.img-profile img {
    height: auto !important;
    margin-top: 0 !important;
}