@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,700&display=swap');

/* sidenav css*/

#contents {
    position: relative;
    margin-left: 250px;
}

body {
    background-color: #fbfbfb !important;
}


/* .margin {
    margin-left: 0 !important;
} */


/* Start side navigation bar  */

.side-nav {
    float: left;
    height: 100%;
    width: 250px;
    position: fixed;
    overflow: hidden;
    z-index: 9999999;
    background-color: #00132D;
}

.reset-button {
    background-color: transparent !important;
    border: none;
    color: #1173FF;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins";
    cursor: pointer;
    position: absolute;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"]+label {
    /* background: #f15d22; */
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    /* padding: 1rem 50px; */
    transition: all 0.3s;
    vertical-align: middle;
}

[type="file"]+label img {
    width: 20px;
    margin-right: 5px;
    height: auto !important;
}


/* table */

.table tr th {
    border: none;
}

.table tr th {
    border-bottom: 1px solid lightgray;
}

.manage-dropdown {
    height: 100px;
}

.manage-dropdown a {
    display: block;
    color: #ffffff;
    padding-bottom: 10px;
    margin-left: 70px;
    text-decoration: none !important;
}


/* .table tr td {
    border: none;
    font-size: 14px !important;
    font-family: "Poppins";
} */

.tbale-header-height {
    height: 90px;
}

.table tr th {
    border: none;
}

.switch {
    margin-top: 2px;
}

.notification-text-home {
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;
}

.table tr th {
    border-bottom: 1px solid lightgray;
}

.table tr td {
    border: none;
    font-size: 14px !important;
    font-family: "Poppins";
}

.input-serach input {
    padding: 6px;
    border: 1px solid #D6DBE2;
    border-radius: 4px;
    width: 100%;
    padding-left: 10px;
}

.input-serach input:focus {
    outline: none;
    border-color: #1173FF;
}

.input-serach-edit input {
    padding: 6px;
    border: 1px solid #D6DBE2;
    border-radius: 4px;
    width: 100% !important;
    padding-left: 10px;
}

.input-serach-edit input:focus {
    outline: none;
    border-color: #1173FF;
}

.input-serachs input {
    padding: 10px;
    border: 1px solid #D6DBE2;
    border-radius: 4px;
    width: 100%;
    padding-left: 10px;
}

.input-serachs input::placeholder {
    font-size: 13px;
    font-family: "Poppins";
    color: #00132D;
}

.input-serachs input:focus {
    outline: none;
    border-color: #1173FF;
}

.input-option select {
    padding: 7px;
    border: 1px solid #D6DBE2;
    border-radius: 4px;
    width: 100%;
    font-family: "Poppins";
    color: #00132D;
    font-size: 14px;
    opacity: 0.8;
}

.input-options select {
    padding: 10px;
    border: 1px solid #D6DBE2;
    border-radius: 4px;
    width: 100%;
    font-family: "Poppins";
    color: #00132D;
    font-size: 14px;
    opacity: 0.8;
}

.input-options select:focus {
    outline: none;
    border-color: #1173FF;
}

.input-option select:focus {
    outline: none;
    border-color: #1173FF;
}

.reset-text span {
    font-size: 16px;
    color: #1173FF;
    font-family: "Poppins";
    margin-left: 10px;
    font-weight: 500;
}

.sort-text {
    /* font-size: 15px; */
    font-family: "Poppins";
    margin-top: 7px;
    color: #00132D;
    float: right !important;
    font-weight: 400;
}

.sort-text select {
    background-color: transparent !important;
    border: none !important;
    font-family: "Poppins";
    font-size: 16px;
    color: #00132D;
    cursor: pointer;
    background-color: red;
    border: 1px solid #fff !important;
}

.sort-text select:focus {
    outline: none;
}

.profile-img {
    border-radius: 30px;
}

.container-bg {
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(223, 219, 219, 0.16), 0 3px 6px rgba(231, 231, 231, 0.23);
    border-radius: 8px;
}


/* check box */

.switch {
    position: relative;
    display: inline-block;
    width: 50px !important;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 20px;
    height: 20px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #00132D;
}


/* .input input{
    position: relative;
    top: 4px;
} */

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(20px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

h1 {
    color: #00132D;
    font-size: 28px;
    font-weight: 600;
    font-family: "Poppins";
}

h2 {
    color: #00132D;
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins";
}

h3 {
    color: #00132D;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins";
}

.heading-forth-1 {
    color: #00132D;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins";
}

.heading-thirds {
    color: #00132D;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins";
}

.heading-forth {
    color: #00132D;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
}

.heading-fifth {
    color: #00132D;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
}

.heading-fifth-1 {
    color: #00132D;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins";
}

.heading-sixth {
    color: #00132D;
    font-size: 11px;
    font-weight: 500;
    font-family: "Poppins";
    opacity: 0.5;
}

.paragraph-text-1 {
    color: #00132D;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
}

.cencel-btn {
    background-color: #fff !important;
    border: 1px solid #1173FF !important;
    padding: 10px 10px 10px !important;
    font-size: 12px;
    color: #1173FF;
    font-family: 'Poppins';
    border-radius: 4px;
}

.cencel-btn:focus {
    outline: none;
}

.cencel-btn:hover {
    background-color: #F2F8FF!important;
    color: #1173FF !important;
    cursor: pointer;
    transition: 0.6s;
    border: 1px solid red;
}

.view-bookings {
    color: #1173FF !important;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
}

.view-booking {
    color: #1173FF !important;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    line-height: 0;
}

.arrow-bg {
    background-color: #1173FF;
    width: 40px;
    float: right;
    border-radius: 4px;
    height: 29px;
}

.inputtype {
    border: 1px solid #D6DBE2;
    border-radius: 4px;
    padding: 5px;
}

.heading-third-number {
    color: #00132D;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins";
}

.paragraph-text {
    color: #00132D !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    font-family: "Poppins" !important;
}

.schedule-btn:hover {
    background-color: white !important;
    color: #1173FF !important;
    border: 1px solid rgb(204, 200, 200) !important;
    cursor: pointer;
    transition: 0.6s;
}

.disabled-btn {
    background-color: #6EA7F8;
    color: #00132D;
    /* width: 100px; */
    font-size: 14px;
    font-family: "Poppins";
}

.schedule-btn {
    background-color: #1173FF !important;
    border: 1px solid #1173FF !important;
    color: white !important;
    padding: 10px 10px 10px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Poppins';
    border-radius: 4px;
}

.schedule-btn:focus {
    outline: none !important;
}

.width-97 {
    width: 97%;
}

.paragraph-line {
    color: #00132D;
    font-size: 14px;
    font-family: "Poppins";
}

.bg-dark1 {
    background-color: #00132D;
}

.bg-sky {
    background: #EEF5FF;
}

.sort-1 {
    opacity: 0.7;
}

.container-bg-1 {
    background-color: #ffffff;
    border-radius: 8px;
}

#sidenav-hide {
    background-color: #00132D;
    /* height: 100% !important; */
}

#sidenav-hide li a {
    color: #FFFFFF !important;
}

.navbarNav-1 {
    height: 480px !important;
    overflow-y: scroll !important;
}

.table-margin-top {
    height: 76px;
}


/* sroll bar */


/* width */

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(185, 182, 182);
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #00132D;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #1173FF;
}

.hp-1 {
    font-family: 'poppins';
    font-size: 14px;
    color: #00132D;
    font-weight: 500;
}


/* side navicons css */

ol li {
    margin-left: 45px;
}

ol li:hover {
    border-right: none !important;
}

.id-sideicons {
    position: sticky;
    top: 100px;
}

.color-reset {
    color: #1173FF;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
    cursor: pointer;
}


/* end */


/* search */

.alex-name img {
    border-radius: 30px;
}

.input-serach-text input[type=text] {
    width: 330px;
    border: none !important;
    border: none !important;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    background-image: url('../img/ico/search.svg');
    background-size: 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 20px 9px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.input-serach-text input[type=text]:focus {
    width: 300px;
    background-color: rgba(178, 184, 181, 0.205) !important;
    outline: none;
}

.inputs[type=text] {
    width: 100px;
    position: relative;
    border: none !important;
    border: none !important;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    background-image: url('/img/ico/Search.png');
    background-size: 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 20px 9px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.inputs[type=text]:focus {
    width: 100px;
    background-color: rgba(178, 184, 181, 0.205) !important;
    outline: none;
}

.bg-custom-1 {
    background-color: #85144b;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}


/* notification css*/

.notification {
    position: relative;
    text-align: right;
}

.card-1 {
    height: 120px;
}

.text-home-2 {
    position: relative;
    top: 15px;
}

.text-home-3 {
    position: relative;
    top: -25px;
}


/* tooltip */

.tooltip-inner {
    max-width: 236px !important;
    font-size: 12px;
    background: #1173FF !important;
    border: 1px solid #1173FF !important;
    color: white;
    border: 1px solid #737373;
    text-align: left;
}


/*  */

.notification img {
    padding: 10px 0;
}

.notification-menu {
    position: absolute;
    top: 50px;
    left: -200px !important;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    list-style: none;
    width: 400px;
    display: none;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.notification-menu li {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

.notification-menu .avatar {
    padding: 2px 0;
}

.notification-menu h3 {
    font-size: 15px;
    margin: 0 0 5px 0;
    display: inline;
}

.notification-menu p {
    margin-bottom: 0;
    font-size: 14px;
}


/* mobile view navbar css */

.nav-row {
    display: flex;
    border-bottom: 1px solid rgb(230, 233, 236) !important;
    padding-bottom: 10px !important;
}

.sidenav {
    height: 100% !important;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #00132D;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.arrow-top {
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    margin-left: 10px;
    /* top: 3px; */
    font-family: "Poppins";
}


/* home main nav bar + side bar css */

.navbar {
    padding: 15px 10px;
    padding-bottom: 10px !important;
    background: #ffffff !important;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 5px 1px rgba(19, 18, 18, 0.1);
    position: sticky !important;
    top: 0% !important;
    z-index: 999 !important;
}

.profile-img {
    border-radius: 50%;
}


/* .list-ul {
    position: sticky !important;
    top: 25.5% !important;
    left: 0% !important;
} */

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.border-2 {
    border: 1px solid #D6DBE2;
    border-radius: 4px;
}

.checkbox {
    position: relative;
    top: 1px;
    border: red;
}

.manu-bg {
    height: 600px;
}


/* side navbar css */

#sidebar {
    min-width: 255px;
    max-width: 255px;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px
}

#sidebar .sidebar-header {
    padding: 20px;
    color: black;
    position: sticky !important;
    top: 0% !important;
}

#sidebar ul.components {
    padding: 20px 0px;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    padding: 10px;
    font-size: 15px;
    display: block;
    color: #fff
}

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: 0.6s all ease-in-out;
    cursor: pointer;
}

.rotate:focus {
    outline: none;
}

.rotate.down {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(-180deg);
}

#sidebar ul li a {
    font-family: 'Poppins';
    font-size: 16px;
    display: block;
    color: #ffffff;
    padding: 4.5px;
    font-weight: 600;
    transition: 0.2s;
    text-align: left;
}

#sidebar ul li {
    width: 200px !important;
    margin-left: 40px;
}

#sidebar ul li a:hover {
    text-decoration: none;
    padding-left: 20px !important;
}

#sidebar ul li:hover {
    background: #244775 !important;
}


/* #sidebar ul li:nth-child(2):hover{
    background-color:#00132D !important;
} */


/* table */

.tb-new-header {
    border-top: 1px solid #D6DBE2;
    border-bottom: 1px solid #D6DBE2;
}


/* end */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@-webkit-keyframes INDENT {
    0% {
        text-indent: 0;
    }
    50% {
        text-indent: 20px;
    }
    100% {
        text-indent: 0;
    }
}

@-moz-keyframes INDENT {
    0% {
        text-indent: 0;
    }
    50% {
        text-indent: 10px;
    }
    100% {
        text-indent: 0;
    }
}

@-o-keyframes INDENT {
    0% {
        text-indent: 0;
    }
    50% {
        text-indent: 10px;
    }
    100% {
        text-indent: 0;
    }
}

@keyframes INDENT {
    0% {
        text-indent: 0;
    }
    50% {
        text-indent: 10px;
    }
    100% {
        text-indent: 0;
    }
}

a[data-toggle="collapse"] {
    position: relative
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%)
}

.content-wrapper {
    padding: 15px
}


/* side support section css */

.sidenav-toggle {
    position: fixed;
    left: 10px;
    top: 2px;
    background-color: transparent;
    border: none;
}

.support {
    width: 75%;
    position: relative;
    top: -55px;
    background-color: #F2F8FF;
    height: 110px;
    border-radius: 4px;
}

.support-text {
    color: #00132D;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 700;
}

.support-text1 {
    color: #00132D;
    line-height: 1;
    font-size: 10px;
    font-family: "poppins";
    font-weight: 500;
}

.support-text2 {
    cursor: pointer;
    color: #00132D;
    line-height: 1;
    float: right;
    color: #1173FF;
    font-size: 10px;
    font-family: "Poppins";
}


/* end */


/* dropdown image */

.classdrop {
    text-align: left !important;
    background-color: white !important;
    text-decoration: none !important;
}

.classdrop1 {
    padding-bottom: 5px;
    padding-top: 5px;
    position: absolute;
    left: -5px;
    top: 53px;
    border: none;
    width: 70px !important;
    box-shadow: inset 0 0 5px rgb(229, 226, 226);
}

.classdrop li:hover {
    background-color: #F2F8FF !important;
}

.classdrop li {
    padding: 5px !important;
}

.classdrop li a {
    text-align: left !important;
    margin-left: 20px !important;
    text-decoration: none !important;
    color: #00132D;
    font-family: "Poppins";
}


/* notification */

.notification img {
    width: 20px;
    cursor: pointer;
}

.notification-text {
    position: relative;
    top: -10px;
    background-color: #DF615C;
    ;
    color: white;
    padding: 3px 7px;
    cursor: pointer !important;
    border-radius: 70px;
    left: -13px;
    font-size: 12px;
}

.notification-text1 {
    color: #00132D;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
}

.notification-text2 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.notification-text3 {
    color: #00132D;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.notification-text4 {
    color: #00132D;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Poppins';
}

.notification-text5 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 2px;
    font-family: 'poppins';
}

.noti-1-head {
    display: flex;
    line-height: 1.3;
}

.notification-text6 {
    font-weight: 500;
    font-size: 14px;
    margin-top: 2px;
    font-family: 'poppins';
}

.notification-flex {
    display: flex;
    line-height: 1.3;
}

.notification-time {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #1173FF;
}

.dot-image {
    width: 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}


/* profile */

.profile-img {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.profile-name {
    border-left: 1px solid rgb(224, 220, 220);
    font-family: 'Poppins', sans-serif;
    color: #00132D;
    font-weight: 600;
}

.profile-name:hover {
    color: #00132D;
}

.profile-name1 {
    display: flex !important;
    float: right !important;
}


/* border right */


/* .active,
.btns:hover {
    background-color: #244775!important;
} */

.active:nth-child(2) {
    /* background-color: #00132D; */
}


/* .bg-dark2 {
    background-color: #244775 !important;
  
} */

.bg-dark2 {
    background-color: #00132D !important;
    border: none;
    width: 180px !important;
    text-align: left;
    margin-left: 0px !important;
    font-family: "Poppins";
    font-size: 16px;
    height: 80px !important;
    border: none;
    text-align: left;
    margin-left: -1px !important;
    font-family: "Poppins";
    font-size: 16px;
    text-decoration: none !important;
}

.bg-dark2 span:hover {
    text-decoration: none;
    background-color: #244775;
    padding-left: 30px;
    height: 10px !important;
    transition: 0.3s;
    border-radius: 4px;
}

.bg-dark2 a span {
    position: relative;
    top: -25px;
    left: 55px;
    margin-top: 0px;
    margin-left: 15px;
    color: white;
    text-decoration: none !important;
}

.container-calendar {
    background: #ffffff;
    padding: 25px;
    max-width: 475px;
    margin: 0 auto;
    overflow: auto;
}

.activee {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    position: relative;
    padding-left: 15px;
    background-color: #244775!important;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td,
.table-calendar th {
    padding: 8px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}

.date-picker.selected {
    background-color: #1173FF;
    color: white;
    padding: 10px;
    border-radius: 50px;
}

#monthAndYear {
    text-align: center;
    position: absolute;
    left: 120px;
    top: 40px;
    font-size: 24px;
    font-family: 'poppins';
}

tr th {
    font-family: "Poppins";
    font-weight: 600;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1.6em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}

.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}


/* hover side nav */

.dasborad-sid:hover+.dasborad-show {
    display: block !important;
}

.dasborad-show {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Poppins";
    color: white;
    background-color: #1173FF;
}

.book-sid:hover+.book-show {
    display: block !important;
}

.book-show {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Poppins";
    color: white;
    background-color: #1173FF;
}

.class-sid:hover+.class-show {
    display: block !important;
}

.class-show {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Poppins";
    color: white;
    background-color: #1173FF;
}

.subject-sid:hover+.subject-show {
    display: block !important;
}

.subject-show {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Poppins";
    color: white;
    background-color: #1173FF;
}

.calande-sid:hover+.calande-show {
    display: block !important;
}

.calande-show {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Poppins";
    color: white;
    background-color: #1173FF;
}

.history-sid:hover+.history-show {
    display: block !important;
}

.history-show {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Poppins";
    color: white;
    background-color: #1173FF;
}

.payment-sid:hover+.payment-show {
    display: block !important;
}

.payment-show {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Poppins";
    color: white;
    background-color: #1173FF;
}

.list-ul {
    overflow-y: auto !important;
    height: 629px !important;
    overflow-x: hidden;
}

.setting-sid:hover+.setting-show {
    display: block !important;
}

.mobile-view-manage {
    position: relative;
    left: -180px;
    top: 30px;
    padding-bottom: 40px;
}

.setting-show {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    display: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Poppins";
    color: white;
    background-color: #1173FF;
}

.breadcrumb {
    background-color: transparent;
    float: right;
}

.breadcrumb-item-active a {
    color: #1173FF !important;
}

.breadcrumb-items a {
    color: #00132D;
    text-decoration: none;
}

.breadcrumb-items {
    font-size: 12px;
    font-family: "Poppins";
    color: #00132D;
}


/* side nav media query */

@media(max-width:768px) {
    #sidebar {
        margin-left: -250px;
        position: absolute;
        top: 0%;
        background-color: white;
    }
    #sidebar.active {
        margin-left: 0px
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media(max-width:790px) {
    .navbar {
        width: 100% !important;
        flex-wrap: nowrap !important;
        display: none !important;
    }
    .payment-responsive {
        height: auto !important;
        height: 50px !important;
    }
    .payment-responsive-res {
        width: 150px !important;
    }
}

@media(max-width:790px) {
    #sidebar {
        display: none !important;
    }
}

@media(max-width:790px) {
    .site-header {
        display: block !important;
    }
    .navbarNav-1 {
        width: 300px;
        position: absolute;
        left: -200px !important;
    }
}

@media(max-width:790px) {
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        color: #00132D;
        display: block;
        transition: 0.3s;
    }
    #contents {
        width: 100% !important;
        overflow: hidden;
    }
}

@media(max-width:1200px) {
    #sidebar {
        display: none !important;
    }
    .profile-name-12 {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    #contents {
        margin-left: 0px !important;
    }
}

@media(max-width:1200px) {
    .site-header {
        display: block !important;
    }
}

@media(max-width:1200px) {
    .navbar {
        display: none !important;
        position: fixed;
        top: 0%;
    }
    .side-nav {
        display: none !important;
    }
    .notification-menu1 {
        margin-left: -70px;
        width: 340px;
        overflow: hidden !important;
    }
    .notification {
        position: absolute;
        right: 200px;
        top: 18px;
    }
    .dropdown-menu {
        /* background-color: red !important; */
        position: absolute !important;
        left: -130px !important;
        top: -5px !important;
    }
}

.img-round {
    border-radius: 100%;
}


/* table new admin  media query*/

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .table {
        overflow: auto !important;
        white-space: nowrap !important;
        display: inline-block;
    }
}

@media only screen and (max-width: 1170px) {
    .table {
        overflow: auto !important;
        white-space: nowrap !important;
        display: inline-block;
    }
}

@media only screen and (max-width: 1400px) {
    .switch {
        margin-top: 2px;
    }
}

@media only screen and (max-width: 1300px) {
    .bg-dark2 a span {
        background-color: red !important;
        display: block;
    }
}


/* 27 AUg 2021 */

.tutor-img {
    width: 40px;
    padding-right: 5px;
    border-radius: 50%;
}

.btn-general {
    background: #1173FF;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 29px;
    border: 1px solid #1173FF;
    font-weight: 600;
    transition: all 0.9s;
}

.btn-general:hover {
    color: #1173FF;
    background: #fff;
    cursor: pointer;
}


/* .round {
    position: absolute;
    top: 10px;
    left: 10px;
} */

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: #1173FF;
    border-color: #1173FF;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

svg:not(:root) {
    overflow: hidden;
    width: 100%;
    padding-top: 3px;
}

.flex-1 {
    opacity: 0;
}

.tab .active {
    /* padding: 8px 122px 8px 11px !important; */
    border-radius: 5px;
    width: 100%;
    color: #fff !important;
    background-color: #1173FF !important;
    font-weight: 400;
    font-size: 16px;
}

.tab button {
    border: transparent;
    outline: transparent;
    color: #000 !important;
    background-color: transparent;
    font-size: 16px !important;
    font-weight: 400 !important;
    padding: 8px 122px 8px 11px !important;
}

.round {
    position: absolute;
    top: 4px;
    left: 10px;
    margin-bottom: 7px;
}

.number-portion {
    font-weight: 600;
    font-size: 44px;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 0;
}

.number-portion small {
    font-size: 20px;
    color: grey;
}

.img-protion {
    padding-top: 20px;
    width: 45px;
}

.nav-item {
    color: #7A8491;
}

.nav-stwich .active {
    border-bottom: 4px solid #1173FF;
    color: #00132D;
}


/*Status Tags*/

.statusTag {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    display: block;
}

.veri_status {
    background: #C9EDDD;
}

.doc_not_sub_status {
    background: #F5E9C6;
}

.doc_sub_status {
    background: #B9D6FF;
}

.disbaled_status {
    background: #FBEBEA;
}

.veri_rej_status {
    background: #E9C6C6;
}


/*Ticket Messages*/

.ticketChat {
    max-height: 250px;
    overflow-y: auto;
}

.reciever {
    float: right;
    max-width: 75%;
}

.sender {
    float: left;
    max-width: 75%;
}

.reciever p,
.sender p {
    width: 100%;
    min-width: 324px;
    border: 1px solid #6EAAFF;
    border-radius: 5px;
    padding: 5px;
}

.reciever p {
    float: right;
    border-color: #D3D8DF;
}

.dull {
    color: #BCC0C7;
}

.attachment {
    width: 150px;
    margin-left: 33%;
}


/*Ticket Messages End*/